@keyframes example {
    from {background-color: rgb(174, 164, 164);
        opacity: 0%;
    }
    to {background-color: rgb(18, 18, 17);
        opacity: 100%;
    }
  }
body{
    margin: 0;
    background-image: url(../static/wp3530389.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    border: 4px rgb(105, 76, 54);
    position: absolute;
    top: 0px;
    width: 99%;
    height: 99%;
    padding: 0%;
    border-radius: 10px;
    animation-name: example;
    animation-duration: 2.10s;
}
.box{
    border: 4px rgb(105, 76, 54) solid;
    position: absolute;
    top: 125px;
    left: 30%;
    right: 15%;
    width: 40%;
    height: 35%;
    padding: 1.5%;
    border-radius: 10px;
    outline-style: inset;
    outline-color: rgb(238, 196, 151);
    outline-width: 3.5px;
}
.imgbox {
    border: 2px white;
    width: 8%;
    height: 18%;
    position: absolute;
    left: 740px;
    top: 128px;
    background-image: url(../static/3d-user-icon-on-transparent-background-free-png.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
}
.logo{
    border: 2px white;
    width: 14%;
    height: 35%;
    position: absolute;
    top: 0px;
    left: 20px;
    background-image: url(../static/CodeCollab1-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h2{
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 50px;
    background-blend-mode: lighten;

}
label[for="username"]{
    font-family: "Lucida handwriting";
    font-size: 25px;
    text-align: left 20%;
    position: absolute;
    left: 140px;
    top: 155px;

    
}
label[for="password"]{
    font-family: "Lucida handwriting";
    font-size: 25px;
    text-align: left 20%;
    position: absolute;
    left: 150px;
    top: 210px;
}
form input[type="text"]{
    width: 25%;
    padding: 3px;
    border-radius: 5px;
    border: 3px rgb(191, 147, 147) solid;
    position: absolute;
    top: 160px;
    left: 300px;

}

form input[type="password"]{
    width: 25%;
    padding: 3px;
    border-radius: 5px;
    border: 3px rgb(191, 147, 147) solid;
    position: absolute;
    top: 213px;
    left: 300px;
}
form input[type="submit"] {
    width: 15%;
    position: absolute;
    top: 260px;
    left: 247px;
    padding: 3px;
    border-radius: 5px;
    border: 2px rgb(191, 147, 147) solid;

}
form input[type="text"]:hover{
    width: 25%;
    padding: 3px;
    background-color: rgb(228, 225, 225);
    border-radius: 5px;
    border: 2px rgb(191, 147, 147) solid;
    position: absolute;
    top: 160px;
    left: 300px;

}

form input[type="password"]:hover{
    width: 25%;
    padding: 3px;
    background-color: rgb(228, 225, 225);
    border-radius: 5px;
    border: 2px rgb(191, 147, 147) solid;
    position: absolute;
    top: 213px;
    left: 300px;
}
form input[type="submit"]:hover{
    width: 15%;
    background-color: rgb(236, 250, 106);
    position: absolute;
    top: 260px;
    left: 247px;
    padding: 3px;
    border-radius: 5px;
    border: 2px rgb(137, 185, 244) solid;
}
a {
    position: absolute;
    top: 290px;
    left: 200px;
    color: rgb(236, 167, 103);
    font-size: 18px;
}
a:hover {
    position: absolute;
    top: 290px;
    left: 200px;
    color: rgb(60, 110, 225);
    font-size: 18px;
}
