<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>


</head>
<body>
    <h1>hello  u are logged in</h1>
    <a href="{{url_for('logout')}}">press here for logout</a><br>
    <h2>Files</h2>
    <ul>
        {% for file in files %}
            <li><a href="{{url_for('edit_file',filename=file.filename)}}">{{file.filename}}</a></li>
        {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('create_file') }}">
        <label for="filename">Filename:</label>
        <input type="text" id="filename" name="filename" required>
        <button type="submit">Create File</button>
    </form>
    



</body>
