<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colloborative Coding</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

</head>
<body>
    <a href ="{{url_for('login')}}">Login</a><br>
    <a href ="{{url_for('signup')}}">signup</a><br>

    
    <script type="text/javascript">
        var socket = io();

        socket.on('document_update', function(data) {
            // Update editor content based on received data (filename and content)
        });
    </script>

</body>











</html>