<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/theme/monokai.css') }}">

</head>
<body>
    <textarea name='raw_data' id="code-editor"></textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/edit/closebrackets.js') }}"></script>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
            mode: 'python',
            theme: 'monokai',
            lineNumbers: true,
            autoCloseBrackets: true,
            autofocus: true
        });
        
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var ignoreChange = false;

        editor.on('change', function() {
            if (!ignoreChange) {
                var code = editor.getValue();
                var cursor = editor.getCurosr();
                socket.emit('code_change', { code: code, cursor: cursor});
            }
        });
            // Update code editor when code changes are received from server
        socket.on('code_change', function(data) {
            ignoreChange = true; // Temporarily disable 'change' event handler
            var cursor = editor.getCursor(); // Get current cursor position
            editor.setValue(data.code);
            editor.setCursor(data.cursor);
            ignoreChange = false; // Re-enable 'change' event handler

        });
    </script>
</body>
</html>

