<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/theme/monokai.css') }}">

</head>
<body>
    <textarea name='raw_data' id="code-editor"></textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/edit/closebrackets.js') }}"></script> 
    <script>
        var code_editor = CodeMirror.fromTextArea(editor, {
            mode: 'python',
            theme: 'monokai',
            lineNumbers: true,
            autoCloseBrackets: true,
            autofocus: true,
          });
    </script>  

</body>
</html>

